<div class="environment-container" id="environment-container">
    <img class="env-bg-img" src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/bg-cooking--large.jpg?v=1663051192">
    <div class="env-content">

    <div class="env-item">
        <div class=" env-heading content__heading text-2xl text-black lg:text-3xl sm:text-2xl">
            Cooking that doesn’t cost the earth.
        </div> <br/>
        <p>By considering how we cook and the energy wastage this can entail, Whirlpool have designed innovative functions that ensure you only use the power that’s needed for delicious dishes and nothing more.<br><br>

        Using innovative programs such as Ready2Cook which removes the need to pre-heat your oven, plus efficiency savings of Cook3 which allow you to cook three courses in one go – Whirlpool is striving to reduce the level of energy consumption used for every meal in every household. <br><br>
        
        Understanding that it’s not just how we use our ovens, but how we clean them that can affect our environment, we’ve developed a range of programs to clean without the need for toxic chemicals or high temperatures. Using steam technology, a short cycle harnesses the natural power of steam for fast, effective and energy efficient cleaning, which doesn't cost or damage the earth.  </p>
    
    </div>
    </div>    
</div>

{% schema %}
{
    "presets": [
        {
        "name": "Environment Third",
        "category": "Custom layout"	
        }
   ]    
}
{% endschema %}
