<div class="inv-second-content page-width">
    <div class="inv-content">
        <img src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/bg-innovation-discoverdifference.jpg?v=1663124016">
        <div class="inv-second-item">
            <div class="inv-second-text">
            <p style="font-size:30px; color:#353535"><strong>A passion for beauty<br/>
            <span style="border-bottom:2px solid #EDB112 ">in every detail</span></strong></p>
            <p style="font-size:15px;">We believe that a fulfilling user experience begins<br/>
            with the senses. Whirlpool appliances are designed to<br/>
            be beautiful, eye-catching additions to your home.</p>
            </div>   
        </div>
    </div>
</div>

{% schema %}
{
    "presets": [
        {
        "name": "Innovation second",
        "category": "Custom layout"	
        }
   ]    
}
{% endschema %}