<div class="page-width">
<div class="inv-third-content">

    <h2 class="inv-third-title" align="center"> <span style="border-bottom:2px solid #EDB112; font-size:32px;">Consumer Insights</span></h2>
    <p class="inv-third-text"> We are committed to providing you the most fulfilling user experience imaginable. From outstanding design and intuitive interaction, to ideal results. We wouldn't be able to do so without your help. Explore the technologies, features and design elements we've developed thanks to our most valuable contributors: you.</p>
    <p align="center" class="what-you-asked" > What you asked us for</p>
    <div class="inv-third-icons">
      <div class="inv-icon-item">
          <img class="inv-icon" src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/glass-icon.png?v=1663124015">
          <span style="font-size:16px; text-align:center;" >I want spotless, shiny glasses at the end of the wash cycle</span>
      </div>
      <div class="inv-icon-item">
          <img class="inv-icon" src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/icon_ZenTechnology.png?v=1663124015">
          <span style="font-size:16px; text-align:center;">I want my washing machine to make as little noise as possible, during the wash cycle.</span>
      </div>
      <div class="inv-icon-item">
          <img class="inv-icon" src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/cooking-icon.png?v=1663124015">
          <span style="font-size:16px; text-align:center;">I expect same level of cooking results I'm used to, but more time and energy-efficient</span>
      </div>
      <div class="inv-icon-item">
          <img class="inv-icon" src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/cooling-icon.png?v=1663124015">
          <span style="font-size:16px; text-align:center;">My fresh food must keep colour, shape and fragrance over time</span>
      </div>
    </div>
  </div>
</div>


  
{% schema %}
{
    "presets": [
        {
        "name": "Innovation third",
        "category": "Custom layout"	
        }
   ]    
}
{% endschema %}