<section class="page-width">
<div class="manual-buttons-container" {{ block.shopify_attributes }}>
  {% if product.metafields.my_fields.downloads_pdf != blank %}
    <a href="{{product.metafields.my_fields.downloads_pdf | file_url  }}" target="_blank" class=" manual-buttons inline-flex items-center">
      {% render 'icon', name: 'printer', size: 'custom', class: 'w-[20px] h-[20px] mr-[10px]' %}
      Specification Sheet</a>
  {% endif %}
  {% if product.metafields.my_fields.user_manual != blank %}
    <a href="{{product.metafields.my_fields.user_manual | file_url }}" target="_blank" class="manual-buttons inline-flex items-center">
      {% render 'icon', name: 'pdf', size: 'custom', class: 'w-[20px] h-[20px] mr-[10px]' %}
      User Manual</a>
  {% endif %}
</div> 
</section>

  
         {% schema %} 
            {
              "blocks": [
                            {
                              "type": "first-section",
                              "name": "Buttons",
                              "settings": [
                                            {
                                            "id": "view-btn",
                                            "type": "text",
                                            "label": "Button name"
                                            }
                                          ]
                             }
                          ],
               "presets": [
                                {
                                "name": "Manual Buttons",
                                "category": "ADVANCED LAYOUT"	
                                }
                           ]
            }
          {% endschema %}
  
  
  
  
  
    {% style %}
      
    .manual-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
        color:white;
        margin-bottom: 80px;
        max-width:40%;
          }
  
    .manual-buttons{
        margin-left: 20px;
        background: white;
        color: black;
        border: 1px solid black;
        padding: 11px 20px;
        max-width: 50%;
        min-width:300px;
        line-height: 1.42;
        font-size: 16px;
        
        text-align: center;
        cursor: pointer;
        border-radius: 1px;
        flex: 1 0 29%;
        
    }
  
    .manual-buttons:hover{
          background:#000;
          color:white;
        }
  
    
    @media screen and (max-width: 600px) {
   
      .manual-buttons-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction:column;
              margin-top: 25px;
              margin-bottom: 100px;
              max-width: 100%;
        }
          .manual-buttons	{
        margin: 0px 20px 7px 20px;
             
      }
    
  }
  
        {% endstyle %}
      