{% comment %} Product Awards section just below product overview section  {% endcomment %}

{% if product.metafields.custom.product_award %}
<div style="background-color:#f9f9f9; height:225px; margin-bottom:3rem">
     {% for block in section.blocks %}
    <h2 align="center" style="padding-top:1.3rem; padding-bottom:.2rem">
       
             {{ block.settings.title }}
    <h2>
    <div class ="wlpool-award-logos">
        <img class="wlpool-logo-item" src="{{block.settings.logo1 | img_url: 'master' }}">
        {% if block.settings.logo2 != blank %} <img class="wlpool-logo-item" src="{{block.settings.logo2 | img_url: 'master' }}"> {% endif %}
    </div>
{% endfor %}
</div>
{% endif %}
    



{% schema %}

{
    "name":"Text with logos",
    "blocks": [
                  {
                    "type": "Text",
                    "name": "Text with logos",
                    "settings": [
                                  {
                                  "id": "title",
                                  "type": "text",
                                  "label": "Button name"
                                  },
                                  {
                                    "id": "logo1",
                                    "type":"image_picker",
                                    "label":"Image 1"    
                                },
                                  {
                                    "id": "logo2",
                                    "type":"image_picker",
                                    "label":"Image 2"    
                                }
                                ]
                   }
                ],
     "presets": [
                      {
                      "name": "Text with logos",
                      "category": "Custom layout"	
                      }
                 ]
  }

{% endschema %}


{% style %}

.wlpool-award-logos{
    display:flex;
    justify-content:center;
    align-items: center;
}

.wlpool-logo-item{
    width:156px;
    margin-left:14px;

}

{% endstyle %}